/.idea/Ingredients data science.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/archive/ingr_map.pkl
/archive/interactions_test.csv
/archive/interactions_train.csv
/archive/interactions_validation.csv
/archive/PP_recipes.csv
/archive/PP_users.csv
/archive/RAW_interactions.csv
/archive/RAW_recipes.csv
